header {
    background-color: #11171d;
    text-align: center;
}

body {
    background-color: #1d2d3c;
}

img {
    height: 70%;
    width: 70%;
}

.card {
    background-color: #112030;
}

.card-body {
    text-align: center;
}

.card-text,
h1 {
    color: white;
}